body, html {
    height: 100%;
}
.bckimg {
    background-position: center;
    background-size: cover;
    background-image: url('../images/toronto-by-alex-shutin-unsplash.jpg');
    display: flex;
    padding-top:100px;
    justify-content: center;
    height: 500px;
}
    .bckimg h3 {
        background: linear-gradient(45deg, white, red, blue, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  .project1 {
    background-position: center;
    background-size: cover;
    background-image: url("images/aspnetAPI.jpg");
  }
.page {
    min-height: 100%;
    padding: 60px;
}
#topbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.Welcome h1{
    overflow: hidden;
    border-bottom: tomato;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: yellow; }
  }
  @media only screen and (min-width:768px){
      #smallgretting{
          display:none;
      }
      #greeting {
        display: flex;
        justify-content: center;
    }
  }
  @media only screen and (max-width:768px){
    #greeting {
        display: none;
    }
  }
  .card-img-top{
    height:100px;
  }
  .card-text{
    height: 100px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }
